*Rproj
.Rhistory
.Rproj.user
.direnv
data-big

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

/.quarto/
**/*.quarto_ipynb
_extensions
_freeze
